<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<title>Merhaba Flask! Html demosu</title>
</head>
<body>
  <div class="container">
    <div class="py-5 text-center">
      <h1>Merhaba Flask! Html demosu.</h1>
      <button type="submit" class="btn btn-primary">TEST</button>
      <form id="upload-file" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <label for="InputFile">Resim Dosyası:</label>
            <input name="image" type="file" class="form-control-file" id="InputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Tanımak istediğiniz resmi bilgisayarınızdan seçiniz</small>
            </div>
            <button id="upload-file-btn" type="button" class="btn btn-primary">Gönder</button>
      <form>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>